# 2) Write a script which can ceil and floor given value without using any python built-in functions.

---

In [1]:
# Ceil vs Floor (If greater than half then increase)
ceil_val = 15.7
floor_val = 15.3

# We need to find the decimal number so... 
# We take the integer and subtract it with our values 
ceil_dec = ceil_val - int(ceil_val)     # float 
floor_dec = floor_val - int(floor_val)  # float

if ceil_dec > 0.5:
    # Round up 
    ceil_val = int(ceil_val) + 1
else:
    # Round Down 
    ceil_val = int(ceil_val)

# Same logic with Floor except the condition 
if floor_dec > 0.5:
    # Round up 
    floor_val = int(floor_val) + 1
else:
    # Round Down 
    floor_val = int(floor_val)

print(ceil_val, floor_val)

16 15

# 3) Swap two integers in a single line

---

In [2]:
a,b = 1,2 
print(a,b)
a,b = b,a 
print(a,b)

1 2
2 1

# 4) Asks user for name (Use Ternary Operator) 

Condition:
- If my name (Justin) = 'This is a nice name'
- 'John Cleese' or 'Michael Palin' = Custom Message
- Else = 'You have a nice name'

---

In [3]:
user_name = input('What is your name? ')

message = ''
# Checking if the user's name is John Cleese or Michael Plain
message = "That is a FUNNY name" if user_name == 'John Cleese' or user_name == 'Michael Plain' else "You have a nice name"
# Their name must be either Unique or MY name 
if user_name == 'Justin':
    # If it's my name then here's a different message
    message = 'This is a nice name'

print(user_name, message)

Thy You have a nice name

# 5) 60% off sale 

Show a table with **Original Price**, **Discount Amount**, **New Price for purchases**

`prices = [4.95, 9.95, 14.95, 19.95, 24.95]`

*Rounded to 2 decimal places* (prob have to use round for this)

In [4]:
# Let's print the headers for the table 
print('Original Price ', '| ', 'Discount Amount', '| ', 'New Price For Purchases')

# This problem requires us to LOOP which means we need to use arrays
prices = (4.95, 9.96, 14.95, 19.95, 24.95)

for price in prices:
    # Remember the discount is 60%; therefore, we *0.6
    # round() function let's us choose the precision
    discount_amount = round(price*0.60, 2)
    new_price = round(price-discount_amount,2)
    print('$',price, ' | ', '$', discount_amount, ' | ', '$', new_price)

Original Price  |  Discount Amount |  New Price For Purchases
$ 4.95  |  $ 2.97  |  $ 1.98
$ 9.96  |  $ 5.98  |  $ 3.98
$ 14.95  |  $ 8.97  |  $ 5.98
$ 19.95  |  $ 11.97  |  $ 7.98
$ 24.95  |  $ 14.97  |  $ 9.98

# 6) Power Table 

A B Pow(a,b)

*Can't use `**` or any built-in functions**

In [5]:
# Let's print the headers for the table 
print('A ', '| ', 'B', '| ', 'Power')

# Logic without arrays
a2, b2 = 1,2
c2 = 1  # placeholder

for i in range(b2):
    c2 *= a2
    
print(a2, ' | ', b2, ' | ', c2)

# Logic without arrays
a2, b2 = 2,3
c2 = 1  # placeholder

for i in range(b2):
    c2 *= a2
    
print(a2, ' | ', b2, ' | ', c2)

# Logic without arrays
a2, b2 = 3,4
c2 = 1  # placeholder

for i in range(b2):
    c2 *= a2
    
print(a2, ' | ', b2, ' | ', c2)

# Logic without arrays
a2, b2 = 4,5
c2 = 1  # placeholder

for i in range(b2):
    # Multiple placeholder with a2, b2 many times
    c2 *= a2
    
print(a2, ' | ', b2, ' | ', c2)

# Logic without arrays
a2, b2 = 5,6
c2 = 1  # placeholder

for i in range(b2):
    # Multiple placeholder with a2, b2 many times
    c2 *= a2
    
print(a2, ' | ', b2, ' | ', c2)

A  |  B |  Power
1  |  2  |  1
2  |  3  |  8
3  |  4  |  81
4  |  5  |  1024
5  |  6  |  15625

In [6]:
# Let's print the headers for the table 
print('A ', '| ', 'B', '| ', 'Power')
# Let's try to shorten it down since A B increases by 1 everytime 
a,b = 1,2
while True:
    # Make display values different from our actual values 
    # This is because we don't want to change our counter val for While loop 
    a2,b2 = a,b
    c2 = 1  # placeholder
    for i in range(b2):
        # Multiple placeholder with a2, b2 many times
        c2 *= a2
    print(a2, ' | ', b2, ' | ', c2)
    # We'll break when A = 5 and B = 6
    if a == 5 and b == 6:
        break
    else:
        # Increment to keep the loop going 
        a+=1
        b+=1

A  |  B |  Power
1  |  2  |  1
2  |  3  |  8
3  |  4  |  81
4  |  5  |  1024
5  |  6  |  15625

# 7) Game:Lottery 

Conditions:
    
If all digits in exact order: $10,000

If all digits in lottery number: $3,000

If one digit in lottery number: $1,000

In [7]:
# Collect their lottery number
user_lottery = input('Your lottery numbers: ')
WINNING_LOTTERY = '367'

result = ''

# If the lottery is exactly the same (same digits and position) then we have the max prize
if user_lottery == WINNING_LOTTERY:
    result = '$10,000'
else:
    digits = 0
    # Count the amount of correct digits
    for num in user_lottery:
        if num in WINNING_LOTTERY:
            digits += 1
    
    # Account for:
    # 1 digit in user_lottery 
    # all 3 digits in user_lottery 
    result = '$1,000' if digits == 2 or digits == 1 else '$3,000'
    
print('Your prize money is: ', result)

Your prize money is:  $10,000

# 8) Largest Number (Count occurrences)

In [8]:
# While loop (Count occurrence) but if another number is bigger then we reset 
numbers = '3525550'
occur = 0
largest_num = 0

for num in numbers:
    # Finding the largest number
    if int(num) > largest_num:
        # Reset occur counter 
        occur = 0
        largest_num = int(num)
    
    if int(num) == largest_num:
        occur += 1

print(largest_num, ' occured ', occur, ' times.')

5  occured  4  times.

# 9) Star Triangle

In [9]:
for row_star in range(1,6):
    # To add spaces you need to calculate them before printing the star 
    spaces = 5-row_star
    for star in range(row_star):
        # Printing all the stars in each row 
        print(' ' * spaces + '*', end=' ')
    print(' ')

    *
   *    *
  *   *   *
 *  *  *  *
* * * * *

# 10) Number Reflection 

1-7
2-7
3-7
...
3-7
2-7
1-7

In [10]:
# Top Bottom
for num in range(1,8):
    # Don't print the 7 here 
    if num !=7:
        for sub_num in range(num,8):
            print(sub_num, end=' ')
        print()
# Bottom Top 
for num in range(8,0,-1):
    # Remember to print the 7 here
    # Prints backwards so starts at 7,6,5,4....
    for sub_num in range(num, 8):
        print(sub_num, end=' ')
    print()

1 2 3 4 5 6 7
2 3 4 5 6 7
3 4 5 6 7
4 5 6 7
5 6 7
6 7

7
6 7
5 6 7
4 5 6 7
3 4 5 6 7
2 3 4 5 6 7
1 2 3 4 5 6 7

# 11) Phone Keypads

Internation letter/number mapping 

1-800-Flowers 

2: ABC 
3: DEF
4: GHI 
5: JKL
6: MNO 
7: PQRS
8: TUV 
9: WXYZ 

Without using a *hashmap* maybe we could elif?

Hardest part is **replacing** the letters with digits. We use the `replace()` function which replaces all of those letters with the respective number.

In [11]:
# By changing all inputs to UPPER we'll make sure the elif statement works for (upper or lower case)
user_phone = input('Your Phone Number: ').upper()
print(user_phone)

for num_or_letter in user_phone:
    if num_or_letter in 'ABC':
        user_phone = user_phone.replace(num_or_letter, '2')
    elif num_or_letter in 'DEF':
        user_phone = user_phone.replace(num_or_letter, '3')
    elif num_or_letter in 'GHI':
        user_phone = user_phone.replace(num_or_letter, '4')
    elif num_or_letter in 'JKL':
        user_phone = user_phone.replace(num_or_letter, '5')
    elif num_or_letter in 'MNO':
        user_phone = user_phone.replace(num_or_letter, '6')
    elif num_or_letter in 'PQRS':
        user_phone = user_phone.replace(num_or_letter, '7')
    elif num_or_letter in 'TUV':
        user_phone = user_phone.replace(num_or_letter, '8')
    elif num_or_letter in 'WXYZ':
        user_phone = user_phone.replace(num_or_letter, '9')
    
user_phone

1-800-FLOWERS

'1-800-3569377'

# 12) Display Prime Numbers Within A Range 

We know that Prime numbers:

*Can only be divided by itself and 1*; therefore, any even number **besides** 2 are **NOT** prime numbers

In [12]:
for num in range(100):
    # 2 is always a prime number that ISN'T odd
    if num == 2:
        print(num, end=' ')
    # 1 is NOT a prime number soo...
    if num > 1 and not num % 2 == 0:
        # Basically any odd number 
        # But we also need to check if any other digits could divide our "odd" number 
        # For instance 9 is an odd number but is also dividable by 3 
        odd_prime = True 
        # The issue here is if you were to include the number that would make odd_prime False
        # But we're only checking the other numbers not 1 or itself 
        for i in range(2, num):
            if num % i == 0:
                # Update our flag for our conditional statement
                odd_prime = False
                break 
        if odd_prime:
            print(num, end=' ')

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

# 13) Reverse of a number 

Using indices is  better

In [13]:
num='12'    # Reverse would be 21
# Start, Stop, Skip
# We end up skipping backwards 
print(num[::-1])

21

# 14) Calculate Total Numbers of Days Between two dates 

datetime module

In [14]:
import datetime 

# Two dates
# Year, Month, Day (May 2, 1996)
d1 = datetime.datetime(1996, 5, 2)
# Year, Month, Day 
d2 = datetime.datetime(2001, 7, 20)

print('There are: ', (d2-d1).days, 'days between ', d2.strftime('%B, %d, %Y'), ' and ', d1.strftime('%B, %d, %Y'))

There are:  1905 days between  July, 20, 2001  and  May, 02, 1996

# 15) Generate product from 2 random numbers

In [15]:
from random import randint

num1 = randint(1,100)
num2 = randint(1,100)
product = num1*num2

print(product)

950